h1 {
    text-align: center;
    font-style: italic;
}
h6 {
    color: #753C29;
    text-align: right;
}

a:link {
    color: #753C29;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #753C29;
    color: #fff;
    padding: 1px 0;
    text-align: center;
}
nav {
    background-color: #7b3a24;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
main {
    color: black;
    max-width: 65%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}
.post {
    margin-bottom: 2em;
}
.post h2 {
    color: #333;
}
.post p {
    line-height: 2;
}
footer {
    color: #333;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
  